# DATA UNDERSTANDING

In [79]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [80]:
#loading the dataset
df=pd.read_csv (r'C:\Users\Lenovo\Documents\CAPSTONE MORINGA PROJECT\Combined_Jobs_Final.csv')

In [81]:
#Displaying the first 5 rows of the dataset
df.head()

,Job.ID,Provider,Status,Slug,Title,Position,Company,City,State.Name,State.Code,...,Industry,Job.Description,Requirements,Salary,Listing.Start,Listing.End,Employment.Type,Education.Required,Created.At,Updated.At
0,111,1,open,palo-alto-ca-tacolicious-server,Server @ Tacolicious,Server,Tacolicious,Palo Alto,California,CA,...,Food and Beverages,Tacolicious' first Palo Alto store just opened...,NaN,8.00,NaN,NaN,Part-Time,NaN,2013-03-12 02:08:28 UTC,2014-08-16 15:35:36 UTC
1,113,1,open,san-francisco-ca-claude-lane-kitchen-staff-chef,Kitchen Staff/Chef @ Claude Lane,Kitchen Staff/Chef,Claude Lane,San Francisco,California,CA,...,Food and Beverages,\r\n\r\nNew French Brasserie in S.F. Financia...,NaN,0.00,NaN,NaN,Part-Time,NaN,2013-04-12 08:36:36 UTC,2014-08-16 15:35:36 UTC
2,117,1,open,san-francisco-ca-machka-restaurants-corp-barte...,Bartender @ Machka Restaurants Corp.,Bartender,Machka Restaurants Corp.,San Francisco,California,CA,...,Food and Beverages,We are a popular Mediterranean wine bar and re...,NaN,11.00,NaN,NaN,Part-Time,NaN,2013-07-16 09:34:10 UTC,2014-08-16 15:35:37 UTC
3,121,1,open,brisbane-ca-teriyaki-house-server,Server @ Teriyaki House,Server,Teriyaki House,Brisbane,California,CA,...,Food and Beverages,● Serve food/drinks to customers in a profess...,NaN,10.55,NaN,NaN,Part-Time,NaN,2013-09-04 15:40:30 UTC,2014-08-16 15:35:38 UTC
4,127,1,open,los-angeles-ca-rosa-mexicano-sunset-kitchen-st...,Kitchen Staff/Chef @ Rosa Mexicano - Sunset,Kitchen Staff/Chef,Rosa Mexicano - Sunset,Los Angeles,California,CA,...,Food and Beverages,"Located at the heart of Hollywood, we are one ...",NaN,10.55,NaN,NaN,Part-Time,NaN,2013-07-17 15:26:18 UTC,2014-08-16 15:35:40 UTC

In [82]:
#Displaying the last 5 rows of the dataset
df.tail()

,Job.ID,Provider,Status,Slug,Title,Position,Company,City,State.Name,State.Code,...,Industry,Job.Description,Requirements,Salary,Listing.Start,Listing.End,Employment.Type,Education.Required,Created.At,Updated.At
84085,82,1,open,san-francisco-ca-national-japanese-american-hi...,Book Keeper @ National Japanese American Histo...,Book Keeper,National Japanese American Historical Society,San Francisco,California,CA,...,Office Administration,NJAHS stands for National Japanese American Hi...,NaN,20.00,NaN,NaN,Part-Time,NaN,2013-03-20 06:35:01 UTC,2014-08-16 15:35:27 UTC
84086,83,1,open,larkspur-ca-emporio-rulli-kitchen-staff-chef,Kitchen Staff/Chef @ Emporio Rulli,Kitchen Staff/Chef,Emporio Rulli,Larkspur,California,CA,...,Food and Beverages,Weekend Brunch Line Cook \r\n● Other shifts ma...,NaN,10.55,NaN,NaN,Part-Time,NaN,2013-03-20 08:06:43 UTC,2014-08-16 15:35:27 UTC
84087,84,1,open,san-francisco-ca-onigilly-driver-84,Driver @ Onigilly,Driver,Onigilly,San Francisco,California,CA,...,Food and Beverages,ONIGILLY (Japanese rice ball wraps) seeks outg...,NaN,11.00,NaN,NaN,Part-Time,NaN,2013-03-12 01:47:13 UTC,2014-08-16 15:35:27 UTC
84088,88,1,open,san-francisco-ca-machka-restaurants-corp-line-...,Line Cook @ Machka Restaurants Corp.,Line Cook,Machka Restaurants Corp.,San Francisco,California,CA,...,Food and Beverages,We are a popular Mediterranean restaurant in F...,NaN,13.00,NaN,NaN,Part-Time,NaN,2013-07-16 08:55:22 UTC,2014-08-16 15:35:28 UTC
84089,92,1,open,san-jose-ca-kazoo-restaurant-cashier,Cashier @ Kazoo Restaurant,Cashier,Kazoo Restaurant,San Jose,California,CA,...,Food and Beverages,We are looking for a cashier! \r\n\r\n ● Take...,NaN,10.00,NaN,NaN,Part-Time,NaN,2013-03-27 09:35:04 UTC,2014-08-16 15:35:30 UTC

In [83]:
#checking for rows and columns
df.shape

(84090, 23)

In [84]:
#basic info about the dataset
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84090 entries, 0 to 84089
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Job.ID              84090 non-null  int64
 1   Provider            84090 non-null  int64
 2   Status              84090 non-null  object
 3   Slug                84090 non-null  object
 4   Title               84090 non-null  object
 5   Position            84090 non-null  object
 6   Company             81819 non-null  object
 7   City                83955 non-null  object
 8   State.Name          83919 non-null  object
 9   State.Code          83919 non-null  object
 10  Address             36 non-null     object
 11  Latitude            84090 non-null  float64
 12  Longitude           84090 non-null  float64
 13  Industry            267 non-null    object
 14  Job.Description     84034 non-null  object
 15  Requirements        0 non-null      float64
 16  Salary              229 non-null    float64
 17  Listing.Start       83407 non-null  object
 18  Listing.End         83923 non-null  object
 19  Employment.Type     84080 non-null  object
 20  Education.Required  83823 non-null  object
 21  Created.At          84090 non-null  object
 22  Updated.At          84090 non-null  object
dtypes: float64(4), int64(2), object(17)
memory usage: 14.8+ MB
None

In [85]:
#getting the column names
df.columns

Index(['Job.ID', 'Provider', 'Status', 'Slug', 'Title', 'Position', 'Company',
       'City', 'State.Name', 'State.Code', 'Address', 'Latitude', 'Longitude',
       'Industry', 'Job.Description', 'Requirements', 'Salary',
       'Listing.Start', 'Listing.End', 'Employment.Type', 'Education.Required',
       'Created.At', 'Updated.At'],
      dtype='object')

In [86]:
#dropping columns 
columns_to_drop = ['Latitude', 'Longitude', 'Provider', 'Job.ID']
df = df.drop(columns=columns_to_drop)
print(df)

      Status                                               Slug  \
0       open                    palo-alto-ca-tacolicious-server
1       open    san-francisco-ca-claude-lane-kitchen-staff-chef
2       open  san-francisco-ca-machka-restaurants-corp-barte...
3       open                  brisbane-ca-teriyaki-house-server
4       open  los-angeles-ca-rosa-mexicano-sunset-kitchen-st...
...      ...                                                ...
84085   open  san-francisco-ca-national-japanese-american-hi...
84086   open       larkspur-ca-emporio-rulli-kitchen-staff-chef
84087   open                san-francisco-ca-onigilly-driver-84
84088   open  san-francisco-ca-machka-restaurants-corp-line-...
84089   open               san-jose-ca-kazoo-restaurant-cashier

                                                   Title            Position  \
0                                   Server @ Tacolicious              Server
1                       Kitchen Staff/Chef @ Claude Lane  Kitchen Staff/Chef
2                   Bartender @ Machka Restaurants Corp.           Bartender
3                                Server @ Teriyaki House              Server
4            Kitchen Staff/Chef @ Rosa Mexicano - Sunset  Kitchen Staff/Chef
...                                                  ...                 ...
84085  Book Keeper @ National Japanese American Histo...         Book Keeper
84086                 Kitchen Staff/Chef @ Emporio Rulli  Kitchen Staff/Chef
84087                                  Driver @ Onigilly              Driver
84088               Line Cook @ Machka Restaurants Corp.           Line Cook
84089                         Cashier @ Kazoo Restaurant             Cashier

                                             Company           City  \
0                                        Tacolicious      Palo Alto
1                                        Claude Lane  San Francisco
2                           Machka Restaurants Corp.  San Francisco
3                                     Teriyaki House       Brisbane
4                             Rosa Mexicano - Sunset    Los Angeles
...                                              ...            ...
84085  National Japanese American Historical Society  San Francisco
84086                                  Emporio Rulli       Larkspur
84087                                       Onigilly  San Francisco
84088                       Machka Restaurants Corp.  San Francisco
84089                               Kazoo Restaurant       San Jose

       State.Name State.Code Address               Industry  \
0      California         CA     NaN     Food and Beverages
1      California         CA     NaN     Food and Beverages
2      California         CA     NaN     Food and Beverages
3      California         CA     NaN     Food and Beverages
4      California         CA     NaN     Food and Beverages
...           ...        ...     ...                    ...
84085  California         CA     NaN  Office Administration
84086  California         CA     NaN     Food and Beverages
84087  California         CA     NaN     Food and Beverages
84088  California         CA     NaN     Food and Beverages
84089  California         CA     NaN     Food and Beverages

                                         Job.Description  Requirements  \
0      Tacolicious' first Palo Alto store just opened...           NaN
1       \r\n\r\nNew French Brasserie in S.F. Financia...           NaN
2      We are a popular Mediterranean wine bar and re...           NaN
3       ● Serve food/drinks to customers in a profess...           NaN
4      Located at the heart of Hollywood, we are one ...           NaN
...                                                  ...           ...
84085  NJAHS stands for National Japanese American Hi...           NaN
84086  Weekend Brunch Line Cook \r\n● Other shifts ma...           NaN
84087  ONIGILLY (Japanese rice ball wraps) seeks outg...           NaN
84088  We are a popular Mediterranean restaurant in F...           NaN
84089   We are looking for a cashier! \r\n\r\n ● Take...           NaN

       Salary Listing.Start Listing.End Employment.Type Education.Required  \
0        8.00           NaN         NaN       Part-Time                NaN
1        0.00           NaN         NaN       Part-Time                NaN
2       11.00           NaN         NaN       Part-Time                NaN
3       10.55           NaN         NaN       Part-Time                NaN
4       10.55           NaN         NaN       Part-Time                NaN
...       ...           ...         ...             ...                ...
84085   20.00           NaN         NaN       Part-Time                NaN
84086   10.55           NaN         NaN       Part-Time                NaN
84087   11.00           NaN         NaN       Part-Time                NaN
84088   13.00           NaN         NaN       Part-Time                NaN
84089   10.00           NaN         NaN       Part-Time                NaN

                    Created.At               Updated.At
0      2013-03-12 02:08:28 UTC  2014-08-16 15:35:36 UTC
1      2013-04-12 08:36:36 UTC  2014-08-16 15:35:36 UTC
2      2013-07-16 09:34:10 UTC  2014-08-16 15:35:37 UTC
3      2013-09-04 15:40:30 UTC  2014-08-16 15:35:38 UTC
4      2013-07-17 15:26:18 UTC  2014-08-16 15:35:40 UTC
...                        ...                      ...
84085  2013-03-20 06:35:01 UTC  2014-08-16 15:35:27 UTC
84086  2013-03-20 08:06:43 UTC  2014-08-16 15:35:27 UTC
84087  2013-03-12 01:47:13 UTC  2014-08-16 15:35:27 UTC
84088  2013-07-16 08:55:22 UTC  2014-08-16 15:35:28 UTC
84089  2013-03-27 09:35:04 UTC  2014-08-16 15:35:30 UTC

[84090 rows x 19 columns]

In [87]:
#displaying the first 5 rows of the data set after dropping columns
df.head()

,Status,Slug,Title,Position,Company,City,State.Name,State.Code,Address,Industry,Job.Description,Requirements,Salary,Listing.Start,Listing.End,Employment.Type,Education.Required,Created.At,Updated.At
0,open,palo-alto-ca-tacolicious-server,Server @ Tacolicious,Server,Tacolicious,Palo Alto,California,CA,NaN,Food and Beverages,Tacolicious' first Palo Alto store just opened...,NaN,8.00,NaN,NaN,Part-Time,NaN,2013-03-12 02:08:28 UTC,2014-08-16 15:35:36 UTC
1,open,san-francisco-ca-claude-lane-kitchen-staff-chef,Kitchen Staff/Chef @ Claude Lane,Kitchen Staff/Chef,Claude Lane,San Francisco,California,CA,NaN,Food and Beverages,\r\n\r\nNew French Brasserie in S.F. Financia...,NaN,0.00,NaN,NaN,Part-Time,NaN,2013-04-12 08:36:36 UTC,2014-08-16 15:35:36 UTC
2,open,san-francisco-ca-machka-restaurants-corp-barte...,Bartender @ Machka Restaurants Corp.,Bartender,Machka Restaurants Corp.,San Francisco,California,CA,NaN,Food and Beverages,We are a popular Mediterranean wine bar and re...,NaN,11.00,NaN,NaN,Part-Time,NaN,2013-07-16 09:34:10 UTC,2014-08-16 15:35:37 UTC
3,open,brisbane-ca-teriyaki-house-server,Server @ Teriyaki House,Server,Teriyaki House,Brisbane,California,CA,NaN,Food and Beverages,● Serve food/drinks to customers in a profess...,NaN,10.55,NaN,NaN,Part-Time,NaN,2013-09-04 15:40:30 UTC,2014-08-16 15:35:38 UTC
4,open,los-angeles-ca-rosa-mexicano-sunset-kitchen-st...,Kitchen Staff/Chef @ Rosa Mexicano - Sunset,Kitchen Staff/Chef,Rosa Mexicano - Sunset,Los Angeles,California,CA,NaN,Food and Beverages,"Located at the heart of Hollywood, we are one ...",NaN,10.55,NaN,NaN,Part-Time,NaN,2013-07-17 15:26:18 UTC,2014-08-16 15:35:40 UTC

In [88]:
#summary statistics of numerical columns
print(df.describe())

       Requirements      Salary
count           0.0  229.000000
mean            NaN    7.832227
std             NaN    7.566016
min             NaN    0.000000
25%             NaN    0.000000
50%             NaN    8.000000
75%             NaN   10.550000
max             NaN   58.000000

In [89]:
#checking for the data types
print(df.dtypes)

Status                 object
Slug                   object
Title                  object
Position               object
Company                object
City                   object
State.Name             object
State.Code             object
Address                object
Industry               object
Job.Description        object
Requirements          float64
Salary                float64
Listing.Start          object
Listing.End            object
Employment.Type        object
Education.Required     object
Created.At             object
Updated.At             object
dtype: object

In [90]:
#checking for duplicate rows
print(df.duplicated().sum())

0

In [91]:
#checking for missing values
print(df.isnull().sum())

Status                    0
Slug                      0
Title                     0
Position                  0
Company                2271
City                    135
State.Name              171
State.Code              171
Address               84054
Industry              83823
Job.Description          56
Requirements          84090
Salary                83861
Listing.Start           683
Listing.End             167
Employment.Type          10
Education.Required      267
Created.At                0
Updated.At                0
dtype: int64

In [92]:
#frequency distribution for categorical columns
print('\nFrequency Distribution of Categorical Columns')
categorical_columns= df.select_dtypes(include=['object', 'category']).columns
for column in categorical_columns:
    print(f'\n{column} value counts:')
    print(df[column].value_counts())

Frequency Distribution of Categorical Columns

Status value counts:
open    84090
Name: Status, dtype: int64

Slug value counts:
palo-alto-ca-tacolicious-server                                   1
chicago-il-accountemps-bookkeeper-285606                          1
north-canton-oh-officeteam-sales-assistant-285604                 1
fort-lupton-co-accountemps-accounts-payable-clerk                 1
boston-ma-accountemps-financial-analyst-285602                    1
                                                                 ..
arlington-heights-il-duraclean-sales-marketing-representative     1
worcester-ma-computer-systems-institute-esl-instructor-257558     1
dunwoody-ga-state-farm-insurance-bank-analytical-college-co-op    1
charlotte-nc-carolina-home-remodeling-demonstrator                1
san-jose-ca-kazoo-restaurant-cashier                              1
Name: Slug, Length: 84090, dtype: int64

Title value counts:
Administrative Assistant @ OfficeTeam                                        1285
Customer Service Representative @ OfficeTeam                                 1119
Accounts Payable Clerk @ Accountemps                                          960
Accounting Clerk @ Accountemps                                                939
Sales Representative / Sales Associate ( Entry Level ) @ Vector Marketing     917
                                                                             ...
Certified Nurse Aid (CNA) - Every Weekend @ Nazareth Home                       1
Quality Assurance Engineer @ Silgan Containers Corporation                      1
Call Center Agent / Confirmer @ American Home Design                            1
Activity Assistant @ All In A Day                                               1
Cashier @ Kazoo Restaurant                                                      1
Name: Title, Length: 41861, dtype: int64

Position value counts:
Administrative Assistant                                                      1414
Customer Service Representative                                               1296
Accounts Payable Clerk                                                         970
Accounting Clerk                                                               953
Sales Representative / Sales Associate ( Entry Level )                         917
                                                                              ...
Medical Records Clerk - Home Health - PRN - Kindred at Home - Campbell, CA       1
Immediate Need for Accounts Receivable Clerk                                     1
Financial Operations Consultant                                                  1
AR Clerk with Cash Applications experience needed Downtown                       1
Book Keeper                                                                      1
Name: Position, Length: 36245, dtype: int64

Company value counts:
Accountemps                                                    12471
OfficeTeam                                                     11423
BAYADA HOME HEALTH CARE                                         2194
Vector Marketing                                                1681
Macy's                                                          1625
                                                               ...
Heartis of Cleburne, a Good Neighbor Care managed community        1
Shawnee Gardens Healthcare and Rehabilitation Center, LLC          1
Lehigh University                                                  1
SWAN Rehab                                                         1
National Japanese American Historical Society                      1
Name: Company, Length: 8335, dtype: int64

City value counts:
Chicago           889
Houston           855
San Francisco     728
Indianapolis      727
Los Angeles       722
                 ...
Hewitt              1
Arvin               1
New York Mills      1
Toa Baja            1
Yountville          1
Name: City, Length: 5503, dtype: int64

State.Name value counts:
California              10755
Florida                  5683
Texas                    5479
Pennsylvania             4972
Illinois                 4081
Ohio                     4047
New York                 3243
New Jersey               2869
Minnesota                2476
Indiana                  2420
Washington               2416
Massachusetts            2268
Michigan                 2247
North Carolina           2006
Wisconsin                1883
Virginia                 1815
Arizona                  1755
Maryland                 1730
Tennessee                1727
Georgia                  1694
Colorado                 1656
Connecticut              1415
Missouri                 1390
Iowa                     1157
Kentucky                 1121
Oregon                   1097
Nevada                   1003
South Carolina            945
Kansas                    841
Louisiana                 772
Utah                      679
Alabama                   598
New Hampshire             573
Nebraska                  524
Oklahoma                  505
Delaware                  411
Hawaii                    396
New Mexico                353
Arkansas                  331
Rhode Island              297
District of Columbia      296
Idaho                     294
Mississippi               266
Vermont                   244
Maine                     228
South Dakota              221
Montana                   211
West Virginia             172
Alaska                    154
North Dakota              129
Wyoming                    74
Name: State.Name, dtype: int64

State.Code value counts:
CA    10755
FL     5683
TX     5479
PA     4972
IL     4081
OH     4047
NY     3243
NJ     2869
MN     2476
IN     2420
WA     2416
MA     2268
MI     2247
NC     2006
WI     1883
VA     1815
AZ     1755
MD     1730
TN     1727
GA     1694
CO     1656
CT     1415
MO     1390
IA     1157
KY     1121
OR     1097
NV     1003
SC      945
KS      841
LA      772
UT      679
AL      598
NH      573
NE      524
OK      505
DE      411
HI      396
NM      353
AR      331
RI      297
DC      296
ID      294
MS      266
VT      244
ME      228
SD      221
MT      211
WV      172
AK      154
ND      129
WY       74
Name: State.Code, dtype: int64

Address value counts:
565 Metro Place South. Suite # 110     9
1475 N. Scottsdale Rd.                 2
470 Oldeworthington rd, Suite 205      2
13653 Lee Jackson Memorial Highway     2
1451 Woodruff Road                     2
3600 Griffith Park Blvd                1
725 Gravois Road                       1
los angeles                            1
7466 New Ridge Road, Suite 14          1
3030 N Rocky Point Dr. Suite 810       1
5161 Hinkleville Rd                    1
660 Quince Orchard Road,               1
5000 Westheimer Rd,                    1
16 Thf Blvd                            1
63435 N. Highway 97                    1
2125 El Camino Real                    1
1445 Main Street                       1
11 Palmetto Bay Rd                     1
251 West Lee Highway Suite 617         1
412 Old State Rd.                      1
Redmond                                1
190 Holloway Ave                       1
New Jersey                             1
40 W 29th St, Suite 404                1
Name: Address, dtype: int64

Industry value counts:
Food and Beverages       152
Other                     44
Transportation            39
Retail                    21
Office Administration     10
Care Giving                1
Name: Industry, dtype: int64

Job.Description value counts:
Retail Sales Associate - Part-TimeMarketSource is currently searching for a part-time Retail Sales Associate to work within our partner, Target Mobile. This is a part-time position, designed to increase sales and revenue of wireless products and services through direct selling within our partners national retail locations.\r\nResponsibilities:\r\nSales:\r\n\r\nDriving sales productivity and customer satisfaction within Target Mobile retail locations on various Wireless products, accessories and services to customers\r\nEngaging in side-by-side selling with retail associates\r\nParticipating in in-store promotions, and coordinating with appropriate personnel\r\nParticipating in wireless sales events in Target locations\r\nPositioning Target Mobile's value, including but not limited to:              \r\n\r\nTraining: \r\n\r\n\r\nMaintaining sound knowledge of multiple carriers wireless products and services\r\nAttending requested training sessions and conference calls\r\nReviewing new product and service offerings from Target\r\n\r\n\r\nRelationship Development:\r\n\r\nEstablishing and managing critical relationships within Target Mobile\r\nDeveloping and managing positive business relationships with retail store management and employees\r\n\r\nRequirements:\r\n\r\nMust be 18 years or older\r\nExcellent communication skills\r\nFlexibility to work weekends\r\nProven self-starter\r\n                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         589
\r\n&nbsp;\r\n\r\nIf you excel in providing exceptional customer service and are eager to learn, we have an opportunity for you! Whether you are looking for part-time or full-time work that fits around YOUR schedule, have been looking for a customer service focused sales position that you can feel good about, or just need to make some extra money, Vector Marketing can help. \r\n&nbsp;\r\nWe have part-time and some full-time opportunities in both temporary and permanent capacities for college students, recent high school graduates, individuals needing extra income, and others. No previous experience needed; we will train you! We believe training program is so effective that anyone who wants to be successful with us can be. \r\n&nbsp;\r\nThat&rsquo;s why, unlike a lot of companies, we don&rsquo;t require previous work experience or specific majors or degrees.\r\n&nbsp;\r\n&nbsp;\r\nAs a member of our team, not only will you have a clear-cut direction on what it takes to succeed, you&rsquo;ll have the choice to move among several different career options &ndash; including part-time, full-time, and management.\r\n&nbsp;\r\nAs a customer service focused sales representative, we offer you:\r\n&nbsp;\r\n\r\n    Excellent pay\r\n    Training &ndash; both initial training to get you off to a good start, and opportunities for on-going training when you need it\r\n    Promotion opportunities based on merit, not tenure\r\n    Flexible schedule that can work around family commitments, other jobs, internships, or vacation schedules\r\n    Choice &ndash; People who work with us aren&rsquo;t limited to a single location. If you move for school, because a family member&rsquo;s job requires relocation, or any other reason you can easily transfer to an office near your new location. \r\n\r\n&nbsp;\r\n&nbsp;\r\n\r\n\r\n\r\n\r\nCustomer Service Specialist (Customer Service / Sales) \r\n\r\n\r\nAs a customer service focused sales representative with Vector, you&rsquo;ll present Cutco to both new and existing customers on a low-key, one-on-one basis. \r\n&nbsp;\r\nWe offer a minimum base pay so you don&rsquo;t feel pressured to make a sale - instead you get to focus on providing excellent service to your customers. As you learn and grow, you&rsquo;ll have the opportunity to make more based on your results.\r\n\r\n\r\nCustomer Service Specialist (Customer Service / Sales) \r\n\r\n    558
\r\n&nbsp;\r\nIf you are eager to learn, we have an opportunity for you! Whether you are looking for part-time or full-time work that fits around YOUR schedule, have been looking for a sales position that you can feel good about, or just need to make some extra money, Vector Marketing can help. \r\n&nbsp;\r\nWe have part-time and some full-time opportunities in both temporary and permanent capacities for college students, recent high school graduates, individuals needing extra income, and others. No previous experience needed; we will train you! We believe our sales representative training program is so effective that anyone who wants to be successful with us can be. \r\n&nbsp;\r\nThat&rsquo;s why, unlike a lot of companies, we don&rsquo;t require previous work experience or specific majors or degrees.\r\n&nbsp;\r\nAs a member of our team, not only will you have a clear-cut direction on what it takes to succeed, you&rsquo;ll have the choice to move among several different career options &ndash; including part-time, full-time, and management.\r\n&nbsp;\r\nAs a Sales Representative we offer you:\r\n&nbsp;\r\n\r\n    Excellent pay\r\n    Training &ndash; both initial training to get you off to a good start and opportunities for on-going training when you need it\r\n    Promotion opportunities based on merit, not tenure\r\n    Flexible schedule that can work around family commitments, other jobs, internships, or vacation schedules\r\n    Choice &ndash; People who work with us aren&rsquo;t limited to a single location. If you move for school, because a family member&rsquo;s job requires relocation, or any other reason you can easily transfer to an office near your new location. \r\n\r\n&nbsp;&nbsp;\r\n&nbsp;\r\n\r\n\r\nEntry Level Sales Representative (Outside Sales) \r\n\r\n&nbsp;\r\n\r\n\r\n&nbsp;\r\n&nbsp;\r\nJob Responsibilities\r\n&nbsp;\r\nAs a sales representative with Vector Marketing, you will present Cutco to both new and existing customers on a low-key, one-on-one basis. \r\n&nbsp;\r\nWe offer a minimum base pay so you don&rsquo;t feel pressured to make a sale - instead you get to focus on providing excellent service to your customers. As you excel, you&rsquo;ll have the opportunity to make more based on your results.\r\n.\r\n&nbsp;\r\n\r\n\r\nEntry Level Sales Representative (Outside Sales)\r\n                                                             541
\r\n&nbsp;\r\nIf you are eager to learn, we have an opportunity for you! Whether you are looking for part-time or full-time work that fits around YOUR schedule, have been looking for a sales position that you can feel good about, or just need to make some extra money, Vector Marketing can help. \r\n&nbsp;\r\nWe have part-time and some full-time opportunities in both temporary and permanent capacities for college students, recent high school graduates, individuals needing extra income, and others. No previous experience needed; we will train you! We believe our sales representative training program is so effective that anyone who wants to be successful with us can be. \r\n&nbsp;\r\nThat&rsquo;s why, unlike a lot of companies, we don&rsquo;t require previous work experience or specific majors or degrees.\r\n&nbsp;\r\nAs a member of our team, not only will you have a clear-cut direction on what it takes to succeed, you&rsquo;ll have the choice to move among several different career options &ndash; including part-time, full-time, and management.\r\n&nbsp;\r\nAs a Sales Representative we offer you:\r\n&nbsp;\r\n\r\n    Excellent pay\r\n    Training &ndash; both initial training to get you off to a good start and opportunities for on-going training when you need it\r\n    Promotion opportunities based on merit, not tenure\r\n    Flexible schedule that can work around family commitments, other jobs, internships, or vacation schedules\r\n    Choice &ndash; People who work with us aren&rsquo;t limited to a single location. If you move for school, because a family member&rsquo;s job requires relocation, or any other reason you can easily transfer to an office near your new location. \r\n\r\n&nbsp;&nbsp;\r\n&nbsp;\r\n\r\n\r\nEntry Level Sales Representative (Outside Sales) \r\n\r\n&nbsp;\r\n\r\n&nbsp;\r\n&nbsp;\r\nJob Responsibilities\r\n&nbsp;\r\nAs a sales representative with Vector Marketing, you will present Cutco to both new and existing customers on a low-key, one-on-one basis. \r\n&nbsp;\r\nWe offer a minimum base pay so you don&rsquo;t feel pressured to make a sale - instead you get to focus on providing excellent service to your customers. As you excel, you&rsquo;ll have the opportunity to make more based on your results.\r\n.\r\n&nbsp;\r\n\r\n\r\nEntry Level Sales Representative (Outside Sales)\r\n                                                                 376
We are hiring for our upcoming busy season! Interviewing the next two weeks!David’s Bridal, the largest and most successful bridal retailer in the country, has grown to over 325 stores nationwide, and more stores continue to open all the time! We currently have a position available support the store as a Seasonal Customer Service Representative.  If you are interested in the following position, please apply immediately for consideration.The Seasonal CSR is responsible for providing professional and unsurpassed customer service to each our David's Bridal customers.  The Seasonal CSR provides information about David's Bridal products and services and responds to all customer inquiries.  A Seasonal CSR demonstrates our culture of trust, fairness, integrity, and accountability in accordance with David’s Bridal’s Core Values.We are looking for top-notch Seasonal CSR's who enjoy the hustle and bustle of a fast-paced environment.  If you would like to work in a positive professional environment, we would love to speak to you.If you are interested in working in our stores, please allow time for our online application process. This can only be completed on a laptop or desktop computer; currently the application cannot be completed on a mobile device.Would you love making her dream come true.  We popped the question - won't you say 'I do'!Part TimeHourly Rate                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        315